<!-- components/footer.html -->
<footer>
    <div class="container">
        <div class="footer-container">
            <!-- Navigation Links -->
            <ul class="footer-links">
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            
            <!-- Copyright -->
            <div class="copyright">
                © iLoveIMG Clone 2025 - Your Image Editor
            </div>
        </div>
    </div>
</footer>
