<header class="site-header">
    <div class="header-container">
        <div class="header-left">
            <div class="hamburger" id="hamBtn"><i class="fa-solid fa-bars"></i></div>
            <a href="/" class="logo"><span>iLove</span>IMG</a>
            <nav class="desktop-nav">
                <div class="mega-trigger">ALL IMAGE TOOLS <i class="fa-solid fa-chevron-down" style="font-size:10px"></i>
                    <div class="mega-menu">
                        <div class="menu-grid">
                            <div class="menu-col"><h6>OPTIMIZE</h6><a href="#">Compress IMAGE</a></div>
                            <div class="menu-col"><h6>MODIFY</h6><a href="#">Resize IMAGE</a></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="header-right">
            <a href="#" class="signup-btn">Sign up</a>
        </div>
    </div>
</header>
