/* assets/css/global.css */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #33333b;
    -webkit-font-smoothing: antialiased;
}

/* Match iLoveIMG Brand Blue */
:root {
    --primary-blue: #4285f4;
}

.btn-primary {
    background-color: var(--primary-blue) !important;
    border-color: var(--primary-blue) !important;
}

/* Remove default link styles that cause the "blue link" look */
a, a:hover {
    text-decoration: none !important;
}

.navbar {
    height: 64px;
}
