/* assets/css/global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-blue: #4285f4;
    --text-dark: #33333b;
    --nav-grey: #47474f;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: var(--text-dark);
    overflow-x: hidden;
}

/* This stops the blue link look */
a {
    text-decoration: none !important;
    color: inherit;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
