/* GLOBAL RESET */
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: 'Open Sans', sans-serif; background-color: #fff; color: #33333b; line-height: 1.5; overflow-x: hidden; }
a { text-decoration: none !important; color: inherit; transition: 0.2s; }
.container { max-width: 1240px; margin: 0 auto; padding: 0 20px; }
.hero { text-align: center; padding: 60px 20px 30px; }
.hero h1 { font-size: 45px; font-weight: 700; color: #47474f; }
.hero p { font-size: 18px; color: #666; margin-top: 10px; }
.title-center { text-align: center; font-size: 36px; margin-bottom: 40px; }
