/* GLOBAL RESETS */
:root {
    --brand-blue: #4285f4;
    --text-dark: #33333b;
    --nav-grey: #47474f;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: var(--text-dark);
    overflow-x: hidden;
}

a { text-decoration: none !important; color: inherit; }

.container-custom {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}
